<!doctype html>
<html lang=en>
    <head>
        <meta charset="UTF-8">
        <title>Example 1</title>
        <script type= "text/javascript" src="static/js/jsLibs/jquery-2.1.1.js"></script>
        <script type="text/javascript" src="static/js/jsLibs/modernizr.custom.93080.js"></script>
        <script type="text/javascript" src="static/js/CarmelaGame.js"></script>
        <link rel="stylesheet" href="static/css/CarmelaGame.css" type="text/css">
    </head>

    <body>
        <h1 id="msg">!!!!!Happy Birthday Carmela!!!!!</h1>

        <div id="canvasPosition">
            <canvas id="canvasOne" width="360" height="300">
                Your browser does not support canvas
            </canvas>
        </div>
    </body>

</html>