<!doctype html>
<html lang=en>
    <head>
        <meta charset="UTF-8">
        <title>Example 1</title>
        <script type= "text/javascript" src="static/js/jsLibs/jquery-2.1.1.js"></script>
        <script type="text/javascript" src="static/js/jsLibs/modernizr.custom.93080.js"></script>
        <script type="text/javascript" src="static/js/CarmelaGame.js"></script>
    </head>

    <body>
        <canvas id="canvasOne" width="500" height="300">
            Your browser does not support canvas
        </canvas>
    </body>

</html>