<!doctype html>
<html lang=en>
    <head>
        <meta charset="UTF-8">
        <title>Example 1</title>
        <script type= "text/javascript" src="static/js/jsLibs/jquery-2.1.1.js"></script>
        <script type="text/javascript" src="static/js/jsLibs/modernizr.custom.93080.js"></script>
        <script type="text/javascript" src="static/js/videoGame.js"></script>
    </head>

    <body>
        <canvas id="canvasOne" width="500" height="300">
            Your browser does not support canvas
        </canvas>

        <video id="thevideo" autoplay="autoplay" loop="true">
            <!--
            <source src="static/video/Sample.webm" type='video/webm; codecs="vp8, vorbis" '>

            <source src="static/video/Sample.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2" '>
            -->
            <source src="static/video/Sample.ogv" type='video/ogg; codecs="theora, vorbis" '>
        </video>
    </body>

</html>