html {
  height: 120%;
  width: 100%;
  padding-bottom: 200px;
  background-color:yellow;
  background-image: url("../images/background2.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

body {
  margin-top: -90px;
  padding: 0;
  height: 100%;
  width: 100%;
      }

/*
The click tracking is dependent on the location of the canvas...
*/
#canvasPosition {

  position: relative;
  /*
  top: 50%;
  left: 30%;
  */
}

#msg {
  position: relative;
  top: 40%;
  left: 32%;
  font-family: Papyrus, fantasy;
  font-weight: bold;
}